html {
  height: 100%;
}

.audio-player {
  background: white;
  width: 25vw;
  text-align: center;
  display: flex;
  flex-flow: row;

}

.album-image {
  background-size: cover;
    width: 10rem;
    height: 5rem;
    float: right;
    margin: 10px 0 10px 10px;
}

.audio-player .player-controls {
  align-items: center;
  justify-content: center;
  margin: auto;
  flex: 3;
}
.audio-player .player-controls progress {
  width: 90%;
}
.audio-player .player-controls progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: blue;
  height: 5px;
}
.audio-player .player-controls progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
  color: blue;
}
.audio-player .player-controls progress::-webkit-progress-value {
  background-color: blue;
}
.audio-player .player-controls p {
  font-size: 13px;
}

div[id^='play-btn'], div[id*='play-btn'] {
   background-image: url("http://www.lukeduncan.me/images/play-button.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  margin: 1rem 0 1rem 1rem;
}

.inline-block-child {
  display: inline-block;
}

.inline-block-child-1 {
  display: inline-block;
}

.image {
  min-height: 80%;
  width: 80%;
  vertical-align: baseline;
  margin-right: 20px;
}

#result {
    vertical-align: top;
    float: right;
    width: 50%;
}

.followers {
  height: 5px;
  font-size:11px;
}

#description {
    width: 50%;
    word-wrap: break-word;
    vertical-align: top;
    margin-left: 5%;
}

.block {
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
}

.header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5%;
}

.section {
    margin-right: 335px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}


.before-section {
    background-color: #F9F9F9;
}

.podcast-name {
    font-family:"Gotham SSm, Helvetica, Arial, sans-serif";
    font-size: 36px;
    line-height: 40px;
}

.episodes {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-left: 50px;
    padding-right: 50px;
}

.recent-episodes {
    margin-top: 10px;
    font-family:"Knockout 31 4r, HelveticaNeue-CondensedBold, Helvetica, Arial, sans-serif";
    font-size:16px;
    line-height:18px;
    color: #e82100;
}

.episode-name {
    font-family:"Gotham SSm, Helvetica, Arial, sans-serif";
    font-size:16px;
    line-height:18px;
    color:#000017;
}

.episode-date {
    font-family:"Gotham SSm, Helvetica, Arial, sans-serif";
    font-size:12px;
    line-height:12px;
    color:#636363;
    margin-bottom: 5px;

}

.episode {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.episode-description {
    font-family:"Gotham SSm, Helvetica, Arial, sans-serif";
    font-size:15px;
    line-height:15px;
    color:#767676;
}

.podcast-description {
    font-family:"Gotham SSm, Helvetica, Arial, sans-serif";
    font-size:17px;
    line-height:17px;
    color:#767676;
}

.pt1 {
    width: 50%;
}

.podcast-main {
    height: auto;
    width: 100%;
    display: flex;
}

@media all and (max-width: 992px) {
  .podcast-main {
    display: unset;
  }

  .pt1 {
    float:right;
    width: 25%;
  }

  #result {
      width: 100%;
      float: unset;
  }

  .block {
  display:flex;
  }

  .image {
    margin-right: unset;
        text-align: right;

  }
}


