{% extends "base.html" %}

{% block content %}
<h1>Edit Profile</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(size=32) }}<br>
        {% for error in form.photo.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}