{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for podcast in podcasts %}
    <div>
        <p>{{ podcast.author }} : <b>{{ podcast.body }}</b></p>
        <p>{{ podcast.number_of_followers() }}</p>
    </div>
    <p>
        {% if not current_user.is_following(podcast) %}
        <form action="{{ url_for('follow', id=podcast.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Follow') }}
        </form>
        {% else %}
        <form action="{{ url_for('unfollow', id=podcast.id) }}" method="post">
            {{ form.hidden_tag() }}
            {{ form.submit(value='Unfollow') }}
        </form>
        {% endif %}
    </p>
    {% endfor %}
{% endblock %}
