{% extends "base.html" %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

</head>
<body>
    <div>
        <div class='header'>
            <h1 class="page-title">Shows & Podcasts</h1>
            <div class="wrapper-category-links">
                <a href="#featured">Featured</a>
                <a href="#daily">Daily</a>
                <a href="#news">News & Conversations</a>
            </div>
        </div>
        <div class="section">
            <div id="featured">Featured</div>
            <div class="wrapper">
                {% for podcast in podcasts_featured %}
                  <a class='podcast' href="{{ url_for('podcast_detail', id=podcast.id) }}">
                      <img src={{ podcast.image }}>
                      <div class="podcast-name"> {{ podcast.body }} </div>
                  </a>
                {% endfor %}
            </div>
            <div id="daily">Daily</div>
            <div class="wrapper">
                {% for podcast in podcasts_daily %}
                  <a class='podcast' href="{{ url_for('podcast_detail', id=podcast.id) }}">
                      <img src={{ podcast.image }}>
                      <div class="podcast-name"> {{ podcast.body }} </div>
                  </a>
                {% endfor %}
            </div>
            <div id="news">News & Conversations</div>
            <div class="wrapper">
                {% for podcast in podcasts_news %}
                  <a class='podcast' href="{{ url_for('podcast_detail', id=podcast.id) }}">
                      <img src={{ podcast.image }}>
                      <div class="podcast-name"> {{ podcast.body }} </div>
                  </a>
                {% endfor %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}
