{% extends "base.html" %}

{% block content %}
<head>
<!--  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>-->
    <link rel="stylesheet" href="{{url_for('static', filename='podcast.css')}}">

</head>
<body>
<div>
    <div class='block' style="background-color: #ffffff">
        <div class="podcast-main">
            <div class='pt1'>
                <image class='image' src={{ podcast.image}}></image>
            </div>
            <div class='pt2' id="result">
                <p class="podcast-name"><b>{{ podcast.body }}</b></p>
                <div class='parent'>
                  <div class='child inline-block-child'>
                      <div id='FollowButton'>
                           <a href="javascript:userFollowPodcast(
                                '{{ podcast.id }}',
                                '{{ podcast.number_of_followers() }}',
                                '{{ current_user.is_following(podcast) }}'
                            );" ><button class='btn btn-default'>
                               {% if not current_user.is_following(podcast) %}
                               Follow
                               {% else %}
                               Unfollow
                               {% endif %}
                           </button></a>
                      </div>
                  </div>
                    <div class='followers child inline-block-child'>
                      <p id="numberFollowers">{{ podcast.number_of_followers() }} followers</p>
                    </div>
                    <div class='podcast-description'>
                        {{ podcast.description }}

                    </div>
                </div>

            </div>
        </div>
<!--        <div class='inline-block-child-1' id='description'>-->
<!--            {{ podcast.description }}-->
<!--        </div>-->
    </p>

    </div>

    <div class="episodes" style="background-color: #ffffff">
        <div class="recent-episodes">
            MOST RECENT EPISODES
        </div>
        {% for episode in episodes %}
        <img class="album-image" style="background-image: url({{ episode.image }})"></img>

        <div class="episode">
            <div class="episode-date">{{ episode.timestamp.strftime('%Y-%m-%d') }}</div>
            <p class="episode-name">{{ episode.title }}</b></p>
            <div class="episode-description">
                {{ episode.description }}
            </div>
            <div class="audio-player">
                <a href="javascript:userListenEpisode(
                            '{{ current_user.id}}',
                            '{{ episode.id }}'
                        );">
                    <div id={{ "play-btn" ~ loop.index }}></div>
                </a>
                    <div class="audio-wrapper" id={{ "player-container" ~ loop.index }}>
                      <audio id={{ "player" ~ loop.index }} ontimeupdate="initProgressBar({{ loop.index }})">
                              <source src={{ episode.audio_link }} type="audio/mp3">
                      </audio>
                    </div>
                    <div class="player-controls scrubber">
<!--                      <p class="episode-title-in-audio-player">{{ episode.title }}</p>-->
                      <span id="seekObjContainer">
                          <progress id={{ "seekObj" ~ loop.index }} value="0" max="1"></progress>
                      </span>
                      <br>
                      <small style="float: left; position: relative; left: 15px;" class={{ "start-time" ~ loop.index }}></small>
                      <small style="float: right; position: relative; right: 20px;" class={{ "end-time" ~ loop.index }}></small>
                    </div>
            </div>

            <!-- partial -->
        </div>
        {% endfor %}
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="{{url_for('static', filename='script.js')}}"></script>
    <script>
        initPlayers($('[id^=player-container]').length)
    </script>
</div>
</body>

{% endblock %}
