{% extends "base.html" %}

{% block content %}
<head>
<!--  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>-->
    <link rel="stylesheet" href="{{url_for('static', filename='podcast.css')}}">

</head>
<body>
<div>
    <div class='block' style="background-color: #ffffff">
        </p>

        <a class='inline-block-child-1' href="{{ url_for('podcast_detail', id=podcast.id) }}">
            <image class='image' src={{ podcast.image}}></image>
        </a>
        <div class='inline-block-child-1' id="result">
            <p class="podcast-name">{{ podcast.author }} : <b>{{ podcast.body }}</b></p>
            <div class='parent'>
              <div class='child inline-block-child'>
                  {% if not current_user.is_following(podcast) %}
                    <form action="{{ url_for('follow', id=podcast.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }}
                    </form>
                    {% else %}
                    <form action="{{ url_for('unfollow', id=podcast.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }}
                    </form>
                    {% endif %}
              </div>
                <div class='followers child inline-block-child'>
                  <p>{{ podcast.number_of_followers() }} followers</p>
                </div>
                <div>
                    {{ podcast.description }}

                </div>
            </div>

        </div>
<!--        <div class='inline-block-child-1' id='description'>-->
<!--            {{ podcast.description }}-->
<!--        </div>-->
    </p>

    </div>

    <div class="episodes" style="background-color: #ffffff">
        <div class="recent-episodes">
            MOST RECENT EPISODES
        </div>
        {% for episode in episodes %}
        <div class="episode">
            <div class="episode-date">{{ episode.timestamp.strftime('%Y-%m-%d') }}</div>
            <p class="episode-name">{{ episode.title }}</b></p>
            <div class="episode-description">
                {{ episode.description }}
            </div>
            <div class="audio-player">
                <div id={{ "play-btn" ~ loop.index }}></div>
                    <div class="audio-wrapper" id={{ "player-container" ~ loop.index }} href="javascript:;">
                      <audio id={{ "player" ~ loop.index }} ontimeupdate="initProgressBar({{ loop.index }})">
                              <source src={{ episode.audio_link }} type="audio/mp3">
                      </audio>
                    </div>
                    <div class="player-controls scrubber">
                      <p class="episode-title-in-audio-player">{{ episode.title }}</p>
                      <span id="seekObjContainer">
                          <progress id={{ "seekObj" ~ loop.index }} value="0" max="1"></progress>
                      </span>
                      <br>
                      <small style="float: left; position: relative; left: 15px;" class={{ "start-time" ~ loop.index }}></small>
                      <small style="float: right; position: relative; right: 20px;" class={{ "end-time" ~ loop.index }}></small>
                    </div>
                <div class="album-image" style="background-image: url({{ episode.image }})"></div>
            </div>
            <!-- partial -->
        </div>
        {% endfor %}
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script><script  src="{{url_for('static', filename='script.js')}}"></script>
    <script>
        //console.log(jQuery('#player-container').length)
        initPlayers($('[id^=player-container]').length)
    </script>
</div>
</body>

{% endblock %}
