{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
</head>
<body>
<div class="section">
    <div class="personal-info">
        <div><img id="profile-image" src="{{url_for('static', filename='images/photos/' + user.photo)}}"></div>
        <div style="margin-left: 40px">
            <h1>{{ user.username }}</h1>
            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </div>

    </div>
    <hr>
    <div class="section-category">
        <div id="featured" class="category-from-section">Following</div>
        <div class="wrapper">
            {% for podcast in podcasts %}
            <a class='podcast' href="{{ url_for('podcast_detail', id=podcast.id) }}">
                <img src={{ podcast.image }}>
                <div class="podcast-name"> {{ podcast.body }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="category-from-section">
            <div class="listening-history-title">Listening history</div>


            {% for h in historical_data%}
            <div class="listened-episode">
                <img class="album-image" style="background-image: url({{ h.episode.image }})"></img>

                <div class="episode episode-from-profile">
                    <div class="episode-date">{{ h.episode.timestamp.strftime('%Y-%m-%d') }}</div>
                    <p class="episode-name">
                        <a href="{{ url_for('podcast_detail', id=h.podcast.id) }}">{{ h.podcast.body }}</a>
                    </p>
                    <p>
                        <a href="{{ url_for('episode_detail', id=h.episode.id) }}">{{ h.episode.title }}</a>
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>

{% endblock %}