{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='user.css')}}">
</head>
<body>
<div class="section">
    <div class="personal-info">
        <div><img id="profile-image" src="{{url_for('static', filename='images/photos/' + user.photo)}}"></div>
        <div style="margin-left: 40px">
            <h1>{{ user.username }}</h1>
            {% if user != current_user %}
            <div id='FollowButton'>
                <a href="javascript:FollowUser(
                                '{{ user.id }}',
                                '{{ user.id }}',
                                '{{ current_user.is_following_user(user) }}'
                            );">
                    <button class='btn btn-default'>
                        {% if not current_user.is_following_user(user) %}
                        Follow
                        {% else %}
                        Unfollow
                        {% endif %}
                    </button>
                </a>
            </div>
            {% endif %}

            {% if user == current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </div>

    </div>
    <hr>
    <div class="section-category">
        <div id="featured" class="category-from-section">Following</div>
        <div class="wrapper">
            {% for podcast in podcasts %}
            <a class='podcast' href="{{ url_for('podcast_detail', id=podcast.id) }}">
                <img src={{ podcast.image }}>
                <div class="podcast-name"> {{ podcast.body }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="category-from-section">
            <div class="listening-history-title">Listening history</div>


            {% for episode in listened_episodes%}
            <div class="listened-episode">
                <img class="album-image" style="background-image: url({{ episode.image }})"></img>

                <div class="episode episode-from-profile">
                    <div class="episode-date">{{ episode.timestamp.strftime('%Y-%m-%d') }}</div>
                    <p class="episode-name">
                        <a href="{{ url_for('podcast_detail', id=episode.podcast_id) }}">{{ episode.body }}</a>
                    </p>
                    <p>
                        <a href="{{ url_for('episode_detail', id=episode.episode_id) }}">{{ episode.title }}</a>
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <script src="{{url_for('static', filename='user.js')}}"></script>
</body>

{% endblock %}